<!-- control_tab.jinja2 -->

<button id="led_off">Off</button>
<button id="led_red">Red</button>
<button id="led_green">Green</button>
<button id="led_blue">Blue</button>
<button id="led_white">White</button>
